<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBameWcsirW1lY7IN6tSHH3bj3dCWn4gaM</string>
	<key>GCM_SENDER_ID</key>
	<string>765520173528</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.kanbanboard</string>
	<key>PROJECT_ID</key>
	<string>kanban-board-63cbf</string>
	<key>STORAGE_BUCKET</key>
	<string>kanban-board-63cbf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:765520173528:ios:5192bdda6a448acdf03aad</string>
</dict>
</plist>